/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}


nav ul li {
    display: inline;
    margin-right: 20px;
    color: aliceblue;
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

article {
    margin-bottom: 20px;
}

th {
    background-color: darkblue;
    color: white;
}

td {
    background-color: lightgrey;
}

footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 10px 0;
}
